a.btn, 
button.btn,
input[type="submit"].btn {
	background: white;
	color: $black;
	border: none;
	font-size: 0.75rem;
    padding: 0.9em 2.6em;
	cursor: pointer;
	font-family: "nimbus-sans",sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	border-radius: 10rem;
	font-weight: 400; 
	transition: all 0.3s ease-in-out;
	display: inline-block;
	border:1px solid white;
	&:hover {
		background: $light-gray;
	}
	&:focus {
		outline: none;
	}
	&.btn-sm {
    	padding: 0.5em 2em;
	}
	&[disabled] {
		cursor: not-allowed;
		opacity: 0.6;
	}
}
a.btn.btn-block,
button.btn.btn-block,
input[type="submit"].btn.btn-block {
	width: 100%;
	display: block;
}
a.btn.btn-primary,
button.btn.btn-primary,
input[type="submit"].btn.btn-primary {
	background: $primary;
	color: white;
	border:1px solid $primary;
	&:hover {
		background: $primary-dark;
		border:1px solid $primary-dark;
	}
}
a.btn.btn-black,
button.btn.btn-black,
input[type="submit"].btn.btn-black {
	background: $light-black;
	color: white;
	border:1px solid $light-black;
	&:hover {
		background: $primary;
		border:1px solid $primary;
		color: $black;
	}
}
a.btn.btn-primary-black,
button.btn.btn-primary-black,
input[type="submit"].btn.btn-primary-black {
	background: $primary;
	color: $black;
	border:1px solid $primary;
	&:hover {
		background: $primary-dark;
		border:1px solid $primary-dark;
	}
}
a.btn.btn-primary-outline,
button.btn.btn-primary-outline,
input[type="submit"].btn.btn-primary-outline {
	border:1px solid $primary;
	background: transparent; 
	color: $primary;
	&:hover {
		background: $primary;
		color: white; 
	}
}
a.btn.btn-outline,
button.btn.btn-outline,
input[type="submit"].btn.btn-outline {
	border:1px solid $black;
	background: white;
	color: $black;
	&:hover {
		background: $black;
		color: white; 
	}
}
a.btn.btn-white-outline,
button.btn.btn-white-outline,
input[type="submit"].btn.btn-white-outline {
	border:1px solid white;
	background: $primary;
	color: $black;
	&:hover {
		background: white;
		color: $black; 
	}
}
a.btn.btn-outline-inverted,
button.btn.btn-outline-inverted,
input[type="submit"].btn.btn-outline-inverted {
	border:1px solid white;
	background: $black;
	color: white;
	&:hover {
		background: white;
		color: $black; 
	}
}

//HAMBURGUER MENU
.hamburguer {
	display: block;
	width: 25px;
	height: 15px;
	position: fixed;
	top: 30px;
	left: 15px;
	transition: all 0.2s ease-in-out;
	span{
		display: block;
		width: 100%;
		height: 2px;
		background:$black;
		margin-bottom: 4px;
		transition: all 0.2s ease-in-out;
	}
	&:hover {
		span{
			margin-bottom: 6px;
		}
	}
}

