

* {
	-webkit-font-smoothing: antialiased;
}

.text-nimbus {
	font-family: "nimbus-sans",sans-serif;
}
.text-acumin {
	font-family: "acumin-pro-extra-condensed", sans-serif;
}

figure {
	figcaption {
		margin-top: 15px;
		text-align: center;
		font-family: "nimbus-sans",sans-serif;
		font-size: 1rem;
		line-height: 1.4rem;
		font-weight: 300;
	}
}

h1, h2, h3, h4, h5 {
	a {
		font-size: inherit;
		font-family: inherit;
	}
}

h1 {
	font-family: "nimbus-sans",sans-serif;
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-weight: 300;
    @media screen and (max-width: 768px) {
		font-size: 1.825rem;
		line-height: 1.825rem;
    }
}
h2 {
	font-family: "acumin-pro-extra-condensed", sans-serif;
	font-size: 1.75rem;
	line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    @media screen and (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 1.4rem;
    }
}
h3 {
	font-family: "nimbus-sans",sans-serif;
	font-size: 1.25rem;
	line-height: 1.6875rem;
	font-weight: 300;
}
h4 {
	font-family: "acumin-pro-extra-condensed", sans-serif;
	font-size: 1.25rem;
	line-height: 1.6875rem;
	font-weight: 400;
    letter-spacing: 0.15rem;
}
h5 {
	font-family: "nimbus-sans",sans-serif;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: 300;
    @media screen and (max-width: 768px) {
		font-size: 1rem;
		line-height: 1rem;
    }
}
p {
	font-family: "nimbus-sans",sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 300;
	a {
		color: $primary;
	}
	&.text-large {
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 2.3rem;
	}
}
ul {
	font-family: "nimbus-sans",sans-serif;
}

a {
	font-family: "nimbus-sans",sans-serif;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 300;
	text-decoration: none;
	color: $black;
	&[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}
}
small a{
	font-size: 0.8rem;
}
span {
	//font-family: "nimbus-sans",sans-serif;
}


.wf-loading h1,
.wf-loading h3,
.wf-loading h2,
.wf-loading h4,
.wf-loading h5,
.wf-loading p
{
	opacity: 0;
}
.wf-loading h1,
.wf-loading h3,
.wf-loading h2,
.wf-loading h4,
.wf-loading h5,
.wf-loading p {
	opacity: 1;
	transition: all 0.3s ease-out;
}
