@import "../../../../Assets/scss/components/_variables.scss";

.BannerProfile {
  position: relative;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($black-bg, .3);
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .section {
    background-color: $light-gray;
    position: relative;
    background-position: 50%;
    background-size: cover;
    padding: 5% 0;
  }
  .title{
    position: relative;
    color: $white-color;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 2;
    &::after {
      border-color: $white-bg;
    }
  }
}