@import "../../../../Assets/scss/components/_variables.scss";

.BannerProfile {
  .section {
    background-color: $light-gray;
    position: relative;
    background-position: 50%;
    background-size: cover;
    padding: 5% 0;
  }
  .title{
    color: $white-color;
    margin-top: 1em;
    margin-bottom: 1em;
    &::after {
      border-color: $white-bg;
    }
  }
}