@import "../../../Assets/scss/components/_variables.scss";

header {
  background-color: $white-bg;
  border-bottom: 1px solid $light-black;
  padding: 0 20px;
  .logo-header {
    width: 90px;
  }
  .navbar-light {
    .navbar-nav {
      .nav-link.active{
        color: $primary-color;
      }
    }
  }
}
